# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Operating System
.DS_Store
Thumbs.db

# Temporary Files
*.tmp
*.bak

# Terraform
.terraform/

# AWS CLI Credentials
.aws/

# Miscellaneous
*.swp
